<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}"><img class="logo" src="/static/hack-reactor-logo-gray-blue.png" /> {{ site.title | escape }}</a>

    <nav class="site-nav">
    <!--
      <a href="/policies">Course Norms</a>
      &nbsp;|&nbsp;
      <a href="/resources">Resources</a>
      &nbsp;|&nbsp;
      <a href="/glossary">Glossary</a>
      &nbsp;|&nbsp;
      <a href="/backgrounders">Backgrounders</a>
    -->
    </nav>

  </div>

</header>